<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <div>
      <span class="navbar-brand mb-0 h1">Viewer3D</span>
      <img
        class="img"
        src="//aps.autodesk.com/static/1.0.0.20240213000918/images/aps-logo--black.svg"
      />
    </div>
    <div>
      <div class="btn-group">
        <button
          class="btn btn-secondary btn-sm dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ selectedFile }}
        </button>
        <ul class="dropdown-menu">
          <li *ngFor="let item of objectList" (click)="onFileSelected(item)">
            {{ item["objectKey"] }}
          </li>
        </ul>
        <button
          class="btn btn-secondary ms-1 btn-sm"
          type="button"
          aria-expanded="false"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class="bi bi-cloud-upload"></i>
        </button>
      </div>
    </div>
  </div>
</nav>
<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Upload File</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <input
            type="file"
            class="form-control"
            id="inputGroupFile04"
            aria-describedby="inputGroupFileAddon04"
            aria-label="Upload"
            (change)="onUploadFileSelected($event)"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="uploadFileClicked()">Upload</button>
      </div>
    </div>
  </div>
</div>
